<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSDeaths.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DSDeaths.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value>DSDeaths.txt</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SammiUrl" serializeAs="String">
                <value>http://localhost:9450/api</value>
            </setting>
            <setting name="SammiPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableSammi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SammiButtonID" serializeAs="String">
                <value>963741-DSDeath</value>
            </setting>
            <setting name="SammiVariableName" serializeAs="String">
                <value>DSDeathCount</value>
            </setting>
        </DSDeaths.Properties.Settings>
    </userSettings>
</configuration>